doctype html
//- Import mixins here to use globally
include ../../_includes/mixins/mixins.pug

html(lang='en-us' class='antialiased')
	head
		//- Meta Tags
		title=site.metaTitle
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content="An interactive guide to the NSW parliamentary inquiry into koala populations.")
		meta(name='author', content=site.author)
		meta(name="theme-color" content="#317EFB")

		link(rel='canonical', href="https://koalas.fyi/")
		link(rel="manifest" href="/manifest.json")
		link(rel="apple-touch-icon" href="/apple-touch-icon.png")
		link(rel="shortcut icon", href="/favicon.ico")
		link(rel='stylesheet', href=assets["main.css"])
			
		meta(name="twitter:title" content="The Great Koala Debate: Lessons from the Parliamentary Inquiry into Koala Populations")
		meta(name="twitter:description" content="An interactive guide to the NSW parliamentary inquiry into koala populations.")
		meta(name="twitter:image" content="/koalas-og.png")
		meta(name="twitter:site" content="@__brodysmith")
		meta(name="twitter:creator" content="@__brodysmith")
			
		if(project.production)
			script(defer src=assets["sw.js"])
			
		// Global site tag (gtag.js) - Google Analytics
		script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-1R5Z6RR40R')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-1R5Z6RR40R');


	body
		#loader
			svg.animate-spin.opacity-75(xmlns='http://www.w3.org/2000/svg' width="50" viewbox='0 0 24 24')
				path.fill-current(d='M19.91,15.51H15.38a1,1,0,0,0,0,2h2.4A8,8,0,0,1,4,12a1,1,0,0,0-2,0,10,10,0,0,0,16.88,7.23V21a1,1,0,0,0,2,0V16.5A1,1,0,0,0,19.91,15.51ZM12,2A10,10,0,0,0,5.12,4.77V3a1,1,0,0,0-2,0V7.5a1,1,0,0,0,1,1h4.5a1,1,0,0,0,0-2H6.22A8,8,0,0,1,20,12a1,1,0,0,0,2,0A10,10,0,0,0,12,2Z')
			.opacity-75.pt-4 Loading
		
		//- #embargo
			.text-center.text-xl
				p.text-3xl This interactive is in a draft stage.
				p.mx-auto.mb-8.text-justify(style="max-width: 500px")
					| Thank you in advance for your feedback as an early tester.
					| Please explore on desktop — the site is not yet mobile-ready.
					| By entering, you agree to not share this page and its contents until publicly launched. Thanks!
					
			.btn.btn-giant.pointer-events-auto(onclick="this.style.display='none'; this.parentElement.style.opacity = 0;") Accept

		#mobile-wall.text-xl.text-center(style="z-index: 100") Please view in landscape mode. Rotate your device.
		
		.mobile-footer
			.btn.btn-prev.float-left.opacity-0 ←
			.btn.btn-next.float-right.text-xs.flex.items-center
				span.text-base ENTER&ensp;
				span.text-3xl →

		+nav
		.slides
			block slides

	script(src=assets["main.js"])
