extends ../partials/slide.pug

block content

  blockquote "Death by 1000 cuts"
  p.my-8
    | Overwhelmingly, the inquiry report found that loss and fragmentation of habitat over time is the major reason for declining koala numbers 
    span.italic (F4)
    | . Koala habitat is lost to development projects, logging and mine sites. No habitat means no koalas.

    - g100 = [ 164, 227, 173 ]
    - g400 = [ 47, 73, 61 ]
    - rand  = () => Math.random()
    - mix = (a,b,p) => a.map( (v,i) => (v + p*(b[i]-v)).toFixed(0) )
    - rgb = (p) => `rgb(${mix(g400,g100,p).toString()})`

  //.absolute.w-screen.left-0.bottom-0(style="height: 100%")
      
    svg#roads.absolute.top-0.mt-0(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1405.3 265.2')
      defs
        style.
          #roads .a,#roads .b{fill:none;stroke:#434646;stroke-miterlimit:10;}#roads .a{stroke-width:0.75px;}#roads .b{stroke-width:10px;}
      path.a(d='M160.2,165.5s1.5-5.5-28.5-20.5-50-3-75,1-16-12-50-4')
      path.a(d='M53.2,257.5c.1-.6,1.7-15.7,1.9-16.4,6-21.2,73.8-98.5,202.6-81.1,3,5,15,7,15,7')
      path.a(d='M254.2,258.5,266.7,227s26-158,33-201,43,11,46,12,13,10,13,10l771,132s17,71,29,82')
      path.a(d='M.2,73.5c12,10,14,67,14,67')
      path.a(d='M33.6,3.8a47.8,47.8,0,0,0-3.7,7,19.4,19.4,0,0,0-1.7,6.7c0,14,28,71,28,87s-13.7,41.7-13.7,41.7')
      path.a(d='M98,136.5c-1.4,6.4,10.7-36.7,4.2-56-5-15-24-61-24-61l-45-16')
      polyline.a(points='108.2 36.5 94.2 14.5 78.2 19.5')
      line.a(x1='33.2' y1='214.5' x2='62.2' y2='227.5')
      line.a(x1='65.2' y1='195.5' x2='57.2' y2='145.5')
      line.a(x1='54.2' y1='247.5' x2='97.2' y2='246.5')
      polyline.a(points='104.2 233.5 74.2 228.5 85.2 214.5 106.2 206.5 106.2 198.5 102.2 191.5')
      polyline.a(points='121.2 213.5 127.2 236.5 121.2 250.5 122.2 257.5')
      line.a(x1='211.2' y1='249.5' x2='259.7' y2='245.3')
      path.a(d='M138.2,45.5c-1,9,7,21,23,45s19,69,19,69')
      polyline.a(points='203.2 9.5 210.2 34.5 264.2 52.5 292.2 71.3')
      path.a(d='M190.2,37.5c1-2,20-3,20-3')
      polyline.a(points='186.2 84.5 217.2 63.5 220.5 37.9')
      polyline.a(points='248.2 7.5 260.2 18.5 255.5 50.3')
      path.a(d='M294.3,58.6a51.6,51.6,0,0,1,19.9,4.9c6,2.7,14.1,6.1,22.4,13.9,6.8,6.5,13.7,16.1,19.6,31.1,13,33-4,44-23,43a179.9,179.9,0,0,1-19.7-2.5c-16.4-2.9-32.8-7.2-32.8-7.2')
      polyline.a(points='315.2 149.5 323.2 94.5 336.2 77.5')
      line.a(x1='372.6' y1='50.1' x2='373.2' y2='38.5')
      path.a(d='M418.4,58.6s-9.2,33.9-3.2,42.9,14,20,14,20')
      path.a(d='M454.7,66s-3.5,4.5-4.5,18.5,8,22,28,22,48,6,57,6,19,2,20-9,3-21,3-21')
      polyline.a(points='268.2 219.5 353.2 239.5 384.2 259.5')
      line.a(x1='293.2' y1='260.5' x2='294.7' y2='227')
      polyline.a(points='306.2 194.5 418.2 220.5 421.2 203.5 420.2 192.5 411.2 185.5')
      line.a(x1='348.2' y1='238.5' x2='356.2' y2='206.5')
      polyline.a(points='460.2 156.5 487.2 181.5 506.2 186.5')
      polyline.a(points='581.7 162 519.2 161.5 507.2 171.5 499.2 238.5 506.2 249.5 565.2 259.5 593.2 88.5')
      line.a(x1='546.2' y1='160.5' x2='531.2' y2='253.5')
      line.a(x1='580.2' y1='86.5' x2='587.2' y2='58.5')
      path.a(d='M573,214.8s70.2,7.7,86.2,12.7,17,31,17,31')
      line.a(x1='703.2' y1='157.5' x2='713.2' y2='107.5')
      line.a(x1='738.2' y1='164.5' x2='746.6' y2='113.8')
      line.a(x1='769.2' y1='169.5' x2='778.7' y2='120')
      path.a(d='M1078.5,171.5l-46.3,66-23-12-48-6-90,26s-131-9-146-9-49,17-49,17')
      line.a(x1='709.2' y1='207.5' x2='723' y2='236.6')
      line.a(x1='743.2' y1='214.5' x2='741.2' y2='236.5')
      line.a(x1='776.2' y1='219.5' x2='775.2' y2='237.5')
      path.a(d='M814.1,241.7l1.1-21.2-9-35s17-88,18-97,1-42,1-42,9-23,9-37-13-9-13-4-3.3,28-3,34,8,5,7,9')
      polyline.a(points='794.2 5.5 783.2 81.5 763.2 103.5 759.1 116')
      polyline.a(points='738.2 77.5 762.2 82.5 778.4 88.4')
      polyline.a(points='770.2 16.5 776.2 23.5 791.3 26.4')
      path.a(d='M808.9,170.5l15.3,2s35,27,42,28,22,1,23,1,70-15,77-17,72,17,72,17l13.2,7.1')
      line.a(x1='934.2' y1='191.5' x2='944.2' y2='224.5')
      polyline.a(points='858.9 197.8 848.2 221.5 846.9 244.5')
      line.a(x1='937.2' y1='257.5' x2='929.8' y2='227.5')
      path.a(d='M973.2,259.5s-6-18-6-22,3.9-16.3,3.9-16.3')
      line.a(x1='862.9' y1='133.5' x2='886.2' y2='14.5')
      polyline.a(points='858.2 12.5 856.2 24.5 883.2 28.3')
      line.a(x1='852.3' y1='59.7' x2='876.5' y2='64.1')
      line.a(x1='844.9' y1='97.4' x2='869.2' y2='100.7')
      line.a(x1='923' y1='21.6' x2='886.2' y2='14.4')
      line.a(x1='880.2' y1='44.6' x2='926.2' y2='53.5')
      line.a(x1='873.4' y1='81.7' x2='919.4' y2='89.7')
      polyline.a(points='958.2 72.5 964.2 47.5 1023.2 56.5 1031.2 25.5')
      path.a(d='M1045.2,165.5s5-26,3-36-1-17,6-23,21-16,21-36v-15')
      line.a(x1='1010.2' y1='159.5' x2='1023.2' y2='56.5')
      path.a(d='M1078.2,171.5s90-158,155.4-146.2c11.1,2,32.9,20.6,47,13.4s36.6-25,36.6-25')
      polyline.a(points='1401.2 84.5 1382.2 77.5 1401.2 45.5')
      path.a(d='M1307.2,26.5c0,1-9,9-5,18s80,33,80,33')
      polyline.a(points='1336.2 6.5 1327.2 26.5 1327.6 58.7')
      polyline.a(points='1170.2 138.5 1193.2 141.5 1236.2 231.5 1265.2 252.5 1301.2 258.5')
      line.a(x1='1296.2' y1='241.5' x2='1294.1' y2='256.8')
      polyline.a(points='1183.2 176.5 1192.2 204.5 1199.6 209.2 1223.2 224.5 1230.9 220.7')
      polyline.a(points='1337.1 61.2 1324.2 82.5 1297.2 64.5 1225.2 120.5 1223.2 127.5 1244.2 154.5 1242.2 183.5 1198.2 208.5')
      polyline.a(points='1401.2 105.5 1384.2 108.5 1324.2 82.5')
      polyline.a(points='1384.2 108.5 1376.2 179.5 1366.2 184.5 1342.2 182.5 1287.2 222.5 1280.2 218.5 1242.2 183.5')
      line.a(x1='1308.2' y1='250.5' x2='1307.2' y2='260.5')
      polyline.a(points='1341.2 258.5 1345.2 241.5 1405.2 248.5')
      polyline.a(points='1402.2 229.5 1391.2 225.5 1400.2 169.5')
      polyline.b(points='1326.7 5 1302.2 28.5 1123.2 184.5 1072.2 262.5')

    svg#trees.absolute.bottom-0(width="100%" height="20%")
      
      //defs: filter#treefilter
        feTurbulence(type="fractalNoise" baseFrequency='0.08' result='noise' numOctaves="5")
        feDiffuseLighting(in='noise' lighting-color='#2f493d' surfaceScale='6')
          feDistantLight(azimuth='15' elevation='30')

      - w = 2
      - h = 20
        
      each u, i in new Array (250)
        
        - x = 10 + w * (i % 50) + "%"
        - y = 10 + h * Math.floor( (i%250)/50 )  + "%"
        - fl = rgb(rand())
        
        circle(r=10 cx=x cy=y fill=fl )
        
        //rect(
          x=x y=y
          width=`${w}%`
          height=`${h}%`
          filter="url('#treefilter')"
          fill="none"
          )
